---
import Head from '../layouts/Head.astro';
import Logo from '../components/Logo.astro';
import BuoyFAB from '../components/BuoyFAB.astro';
import Hero from '../components/sections/Hero.astro';
import Gallery from '../components/sections/Gallery.astro';
import Contact from '../components/sections/Contact.astro';
---

<Head title='DC Marine' description='Your one-stop shop for boat repairs, enhancements, and equipment.'>
	<Logo />
	<main>
		<Hero greeting='Sales Service Parts' greetingLineBreaks={true}>
			DC Marine provides expert service and repair for all your marine needs. Years of experience in both the marine and heavy-duty truck sectors have given us unique expertise that we can share with you. Whether your needs are big or small, we are ready to provide the quality service you deserve.
		</Hero>

		<Gallery
			items={[
				{
					src: 'lady-j',
					alt: 'A boat named Lady J',
					caption:
						'Complete electrical system retrofit, water maker, automatic identification system (AIS) and genset installation',
				},
				{
					src: 'olivia-rose',
					alt: 'A boat named Olivia Rose',
					caption: 'Repower and complete systems retrofit',
				},
				{
					src: 'oregon',
					alt: 'A boat with an Oregon ID',
					caption: 'Sterndrive repair, troubleshooting and repair of oil leaks',
				},
			]}
		/>

		<BuoyFAB href='#contact'>Contact</BuoyFAB>
		<Contact email='dcmarinenw@gmail.com' phone={8052315218} phoneDisplay='805.231.5218' />
	</main>
</Layout>
