---
import Layout from '../layouts/Head.astro';
import Logo from '../components/Logo.astro';
import Hero from '../components/Hero.astro';
import BuoyFAB from '../components/BuoyFAB.astro';
---

<Layout title='DC Marine' description='Boat repairs, enhancements, and equipment by Dave Canepa'>
	<Logo />
	<main>
		<Hero greeting='Repair Refine Retrofit' greetingLineBreaks={true}>
			Lorem ipsum dolor sit amet, <b>consectetur adipiscing</b> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</Hero>

		<div style="background-color: #f2f2f2; height: 100vh; z-index: 1; position: relative">
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis fugiat minima non assumenda
				reiciendis quae quia vel, esse rerum odio id ea fuga voluptatem incidunt enim consequatur ab odit
				dolorem?
			</p>
		</div>
		<BuoyFAB href='#'>Contact</BuoyFAB>
	</main>
</Layout>
