---
import Head from '../layouts/Head.astro';
import Logo from '../components/Logo.astro';
import BuoyFAB from '../components/BuoyFAB.astro';
import Hero from '../components/sections/Hero.astro';
import Gallery from '../components/sections/Gallery.astro';
import Contact from '../components/sections/Contact.astro';
---

<Head title='DC Marine' description='Your one-stop shop for boat repairs, enhancements, and equipment.'>
	<Logo />
	<main>
		<Hero greeting='Repair Refine Retrofit' greetingLineBreaks={true}>
			Lorem ipsum dolor sit amet, <b>consectetur adipiscing</b> elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
			ut aliquip ex ea commodo consequat.
		</Hero>

		<Gallery
			items={[
				{
					src: 'lady-j',
					alt: 'A boat named Lady J',
					caption:
						'Complete electrical system retrofit, water maker and automatic identification system (AIS) installation',
				},
				{
					src: 'olivia-rose',
					alt: 'A boat named Olivia Rose',
					caption: 'Repower and complete systems retrofit',
				},
				{
					src: 'oregon',
					alt: 'A boat with an Oregon ID',
					caption: 'Sterndrive repair, troubleshooting and repair for oil leaks',
				},
			]}
		/>

		<BuoyFAB href='#contact'>Contact</BuoyFAB>
		<Contact email='contact@dcmarine.net' phone={8052315218} phoneDisplay='805.231.5218' />
	</main>
</Layout>
