---
interface Props {
	bleed: boolean;
}

const { bleed } = Astro.props;
---

<div class=`line ${bleed ? 'bleed' : ''}`></div>

<style lang='scss'>
	.line {
		width: 100%;
		margin: 25px 0;
		border-top: 1px solid #fff;
		
		&.bleed {
			transform: scaleX(3);
			transform-origin: 0;
		}
		
		@media only screen and (max-width: 600px) {
			margin: 15px 0;
		}
	}
</style>
