/* CSS DOCUMENT */

@font-face {
	font-family: 'Rufina';
	src: url('../fonts/Rufina-Bold.woff2') format('woff2'), url('../fonts/Rufina-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rufina';
	src: url('../fonts/Rufina-Regular.woff2') format('woff2'),
		url('../fonts/Rufina-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: url('../fonts/NunitoSans-ExtraLightItalic.woff2') format('woff2'),
		url('../fonts/NunitoSans-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: url('../fonts/NunitoSans-ExtraLight.woff2') format('woff2'),
		url('../fonts/NunitoSans-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: url('../fonts/NunitoSans-Medium.woff2') format('woff2'),
		url('../fonts/NunitoSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Sans';
	src: url('../fonts/NunitoSans-MediumItalic.woff2') format('woff2'),
		url('../fonts/NunitoSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

h1 {
	font-family: Rufina, serif;
	font-size: clamp(3rem, 6.25vw, 5.5rem);
	font-weight: bold;
	line-height: 0.9;
	letter-spacing: 8px;
}

h2 {
	font-family: Rufina, serif;
	font-size: clamp(2rem, 3.25vw, 4rem);
	font-weight: normal;
	line-height: 0.9;
	letter-spacing: 4px;
}

p {
	font-family: Nunito Sans, sans-serif;
	font-weight: 200;
	font-size: clamp(1.1rem, 1.75vw, 1.3rem);
	line-height: 1.5;

	b {
		font-weight: 500;
	}

	em {
		font-style: italic;
	}
}
