/* CSS DOCUMENT */

@font-face {
	font-family: 'Rufina';
	src: url('../fonts/Rufina-Bold.woff2') format('woff2'),
			url('../fonts/Rufina-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rufina';
	src: url('../fonts/Rufina-Regular.woff2') format('woff2'),
			url('../fonts/Rufina-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-Light.woff2') format('woff2'),
	url('../fonts/DMSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-LightItalic.woff2') format('woff2'),
	url('../fonts/DMSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-Italic.woff2') format('woff2'),
			url('../fonts/DMSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
	url('../fonts/DMSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-SemiBoldItalic.woff2') format('woff2'),
			url('../fonts/DMSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'DM Sans';
	src: url('../fonts/DMSans-SemiBold.woff2') format('woff2'),
			url('../fonts/DMSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

h1, .h1 {
	font-family: Rufina, serif;
	font-weight: normal;
	font-size: 60px;
}

p, .p {
	font-family: DM Sans, sans-serif;
	font-weight: 300;
	font-size: 18px;
}