---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='stylesheet' type='text/css' href='/styles/global-reset.css' />
		<link rel='stylesheet' type='text/css' href='/styles/global-typography.css' />
		<link rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicons/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicons/favicon-16x16.png' />
		<link rel='manifest' href='/favicons/site.webmanifest' />
		<link rel='mask-icon' href='/favicons/safari-pinned-tab.svg' color='#666666' />
		<link rel='shortcut icon' href='/favicons/favicon.ico' />
		<meta name='apple-mobile-web-app-title' content='DC Marine' />
		<meta name='application-name' content='DC Marine' />
		<meta name='msapplication-TileColor' content='#ffffff' />
		<meta name='msapplication-config' content='/favicons/browserconfig.xml' />
		<meta name='theme-color' content='#d86100' />
		<meta name='description' content={description} />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
		--accent-orange: #d86100;
		--background-gray: #ededed;
	}

	html {
		background-color: var(--background-gray);
		overflow-x: hidden;
		scroll-behavior: smooth;
		color: #ffffff;
		font-family: DM Sans, sans-serif;
	}
</style>
